---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import Hero from "../components/Hero.astro";
import VideoCard from "../components/VideoCard.astro";
import Model3 from "../components/Model3.astro";
import ModelS from "../components/ModelS.astro";
import ModelX from "../components/ModelX.astro";
import ModelY from "../components/ModelY.astro";
---

<Layout title="Tesla">
  <main>
    <Navbar />
    <Hero />
    <VideoCard />
    <Model3 />
    <ModelS />
    <ModelX />
    <ModelY />
    <Footer />
  </main>
</Layout>
